/*General*/
.navbar-inverse{
	background-color: #fff;
	border-color: #f0ecec;
}

.navbar-header{
	margin-right: 0;
	margin-left: 100px;
}

/*Map Template*/
.full-width-image{
	 position: relative;
	 border-bottom: 1px solid #f0ecec;
	 padding-top: 50px;
}

.full-width-image img{
	display: block;
    width: auto;
    max-height: 80%; /* corresponds to max height of 450px */
    margin: 0 auto;
}

.main-map{
	padding-left: 100px;
}

.content-main-map{
	border-right: 1px solid #f0ecec;
	padding-right: 70px;
	padding-top: 100px;
}

.content-main-map img{
	width: 100%;
}

.sidebar-map{
}

.content-sidebar-map{
	padding-left: 10px;
	padding-right: 100px;
	padding-top: 30px;
}

.title{
	font-family: 'Crimson Text', serif;
	font-size: 5em;
	line-height: 100%;
}

.subtitle{
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-size: 2em;
	color: #ccc;
	line-height: 100%;
	padding-bottom: 70px;
}

h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-top: 50px;
	color:#ff5a52;
}

h2 {
	font-family: 'Crimson Text', serif;
	font-size: 2em;	
	line-height: 130%;
	padding-bottom: 20px;
}

h3 {
	font-family: 'Crimson Text', serif;
	font-size: 2em;	
	line-height: 130%;
	padding-top: 60px;
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 600;
}

h5 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	padding-bottom: 30px;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 1.4em;
}

ul {
	font-family: 'Crimson Text', serif;
	font-size: 1.4em;
}